* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: 'Lato', sans-serif;
   color: #FFF;
}

.inline-block {
   display: inline-block;
}

.chevron i {
   display: fle;
   font-size: 1rem;
}

/* HEADER  */
header {
   width: 100vw;
   height: 50px;
   padding: 13px;
   position: fixed;
   top: 0;
   display: flex;
   justify-content: flex-end;
   background-color: #000;
}

header .label-header {
   margin-left: 5px;
   cursor: pointer;
}

header .label-header span {
   padding: 7px 11px;
   background-color: #4A4A4A;
   border-radius: 5px;
}

/* MAIN  */
main {
   margin: 50px 0;
   background-color: brown;
}
/* NAV BAR  */
nav {
   width: 100vw;
   height: 100px;
   position: fixed;
   bottom: 0;
   background-color: #222;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

nav i {
   font-size: 40px;
}

/* audio video  */
.audio-video {
   display: flex;
}

.audio-video .box {
   padding: 0 15px;
   cursor: pointer;
}

.audio-video .box .inline-block {
   text-align: center;
   vertical-align: middle;
}

.audio-video .box .inline-block p {
   padding: 5px 0;
}

.audio-video .box .chevron {
   padding: 0 14px;
}